.hidden{
	display: none!important;
}

.visuallyhidden{
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
	white-space: inherit;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " "; 
	display: table; 
}

.clearfix:after {
	clear: both;
}

.clear {
	clear: both;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.circle {
	border-radius: 50%;
}

.text-truncate {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	// 使用了flex的bug
	min-width:0;
}